@page
@model SacramentPlanner.Pages.Speakers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Speaker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <input asp-for="Speaker.SacramentPlanID" type="hidden" class="form-control" value="@Model.SacramentPlanID" />
            <div class="form-group">
                <label asp-for="Speaker.Name" class="control-label"></label>
                <input asp-for="Speaker.Name" class="form-control" />
                <span asp-validation-for="Speaker.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaker.Topic" class="control-label"></label>
                <input asp-for="Speaker.Topic" class="form-control" />
                <span asp-validation-for="Speaker.Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
