@page
@model SacramentPlanner.Pages.Speakers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Speaker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Speaker.SpeakerID" />
            <input type="hidden" asp-for="Speaker.SacramentPlanID" value="@Model.SacramentPlanID"/>
                
            <div class="form-group">
                <label asp-for="Speaker.Name" class="control-label"></label>
                <input asp-for="Speaker.Name" class="form-control" />
                <span asp-validation-for="Speaker.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaker.Topic" class="control-label"></label>
                <input asp-for="Speaker.Topic" class="form-control" />
                <span asp-validation-for="Speaker.Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../SacramentPlans/Index" asp-route-id="@Model.SacramentPlanID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
